html {
    height: 100%;
}

body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Roboto';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #4C3957;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #4C3957 !important;
    color: white;
}

.btn-outline-black {
    background: white;
    color: #4C3957 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #4C3957;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #4C3957;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #552C64;
    color: white;
}

.text-black {
    color: #4C3957 !important;
}

.border-black {
    border: 1px solid #4C3957 !important;
}

#topnav {
    background-color: #D9DFD8 !important;
    border-color: #4C3957 !important;
}

.dropdown-divider {
    border-top-color: #555 !important;
}

.navbar {
    border-bottom: 1px solid #4C3957;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #a2a39d;
	z-index: -1;
}

#product_row {
    margin-bottom: 30px;
}

.card {
    border: 1px solid #4C3957 !important;
}

.card-body, .card-footer {
    background-color: #f0f1eb !important;
}

a.category-badge > span.badge:hover {
    background: #552C64 !important;
    color: #a2a39d !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .home-container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }

  @media (max-width: 991px) {
    .header-container {
        padding-top: 78px;
    }

    body {
        height: calc(100vh - 116px);
    }
}