{% load static %}

<footer class="text-black py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 mx-auto"> <!-- Centering the column -->
                <div id="mc_embed_shell">
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
                    <div id="mc_embed_signup">
                        <form action="https://github.us18.list-manage.com/subscribe/post?u=a9b41c35ab8d4020e2ec20fb3&amp;id=8a47b74289&amp;f_id=00e52de2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h2>Stay Updated! Subscribe for the Latest News and Exclusive Sales Offers!</h2>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none;"></div>
                                    <div class="response" id="mce-success-response" style="display:none;"></div>
                                </div>
                                <div aria-hidden="true" style="position:absolute; left:-5000px;">
                                    <input type="text" name="b_a9b41c35ab8d4020e2ec20fb3_8a47b74289" tabindex="-1" value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                    <script>(function($) { window.fnames = []; window.ftypes = []; fnames[0]='EMAIL'; ftypes[0]='email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p>Follow us on social media!</p>
                <a href="https://www.facebook.com/" class="text-black mx-2" aria-label="Follow us on Facebook" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://twitter.com/" class="text-black mx-2" aria-label="Follow us on Twitter" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="https://www.instagram.com/" class="text-black mx-2" aria-label="Follow us on Instagram" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://www.pinterest.com/" class="text-black mx-2" aria-label="Follow us on Pinterest" rel="noopener noreferrer" target="_blank">
                    <i class="fab fa-pinterest" aria-hidden="true"></i>
                    <span class="sr-only">Pinterest</span>
                </a>
            </div>
        </div>
    </div>
</footer>
