<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div id="topnav" class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Toys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys
            </a>
            <div id="topnav" class="dropdown-menu border-1" aria-labelledby="Toys-link">
                <a href="{% url 'products' %}?category=crochet_toys" class="dropdown-item">Crochet Toys</a>
                <a href="{% url 'products' %}?category=used_toys" class="dropdown-item">Used Toys</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=crochet_toys,used_toys" class="dropdown-item">All Toys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Art
            </a>
            <div id="topnav" class="dropdown-menu border-1" aria-labelledby="Art-link">
                <a href="{% url 'products' %}?category=watercolor_paintings" class="dropdown-item">Watercolour Paintings</a>
                <a href="{% url 'products' %}?category=acrylic_paintings" class="dropdown-item">Acrylic Paintings</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=watercolor_paintings,acrylic_paintings" class="dropdown-item">All Paintings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="customs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Custom Art & Events
            </a>
            <div id="topnav" class="dropdown-menu border-1" aria-labelledby="customs-link">
                <a href="" class="dropdown-item">Custom Art</a>
                <a href="" class="dropdown-item">Art Sessions</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>