<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                All Products
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=avg_rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="Toys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="Toys-link">
                <a href="{% url 'products' %}?category=crochet_toys" class="dropdown-item">Crochet Toys</a>
                <a href="{% url 'products' %}?category=used_toys" class="dropdown-item">Used Toys</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=crochet_toys,used_toys" class="dropdown-item">All Toys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="Art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Art
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="Art-link">
                <a href="{% url 'products' %}?category=watercolor_paintings" class="dropdown-item">Watercolour Paintings</a>
                <a href="{% url 'products' %}?category=modern_calligraphy" class="dropdown-item">Modern Calligraphy</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=watercolor_paintings,modern_calligraphy" class="dropdown-item">All Art</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'clearance_items' %}" id="clearance-link">
                Clearance
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="contact-link">
                Contact Us
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="socialDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Follow Us
            </a>
            <div class="dropdown-menu" aria-labelledby="socialDropdown">
                <a class="dropdown-item" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Facebook">
                    Facebook  <i class="fab fa-facebook-f"></i>
                </a>
                <a class="dropdown-item" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Twitter">
                    Twitter <i class="fab fa-twitter"></i>
                </a>
                <a class="dropdown-item" href="https://www.pinterest.com/" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Instagram">
                    Instagram <i class="fab fa-instagram"></i>
                </a>
                <a class="dropdown-item" href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Pinterest">
                    Pinterest <i class="fab fa-pinterest"></i>
                </a>
            </div>
        </li>
    </ul>
</div>